In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### 元组和记录

In [2]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)
    print('{}/{}'.format(*passport))

BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855

In [3]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### 元组拆包

In [4]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [5]:
a, b, *rest = range(5)
a, b, rest
a, b, *rest

(0, 1, [2, 3, 4])

(0, 1, 2, 3, 4)

In [6]:
a, b, *rest = range(3)
a, b, rest
a, b, *rest

(0, 1, [2])

(0, 1, 2)

In [7]:
a, b, *rest = range(2)
a, b, rest
a, b, *rest

(0, 1, [])

(0, 1)

In [8]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [9]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### 嵌套元组拆包

In [10]:
metro_areas = [('Tokyo','JP',36.933,(35.689722,139.691667)),
               ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
               ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
               ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
               ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
              ]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}' # Amazing!
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 具名元组

In [11]:
from collections import namedtuple
# 创建具名元组需要两个参数，类名和类的各字段名称
# 后者可以是由数个字符串组成的可迭代对象，或由空格分隔开的字段名组成的字符串
City = namedtuple('City', 'name country population coordinates') # 类名主要用于repr或str的表示
# 存放在对应字段的数据要以一串字符串参数的形式传入到构造函数中
# 注意，元组的构造函数却只接受单一的可迭代对象
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

print('Output 1:')
tokyo

print('Output 2:')
tokyo.population

print('Output 3:')
tokyo.coordinates

print('Output 4:')
tokyo[1]

# _fields属性是一个包含这个类所有字段名称的元组
print('Output 5:')
City._fields

Output 1:

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

Output 2:

36.933

Output 3:

(35.689722, 139.691667)

Output 4:

'JP'

Output 5:

('name', 'country', 'population', 'coordinates')

In [12]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
# _make()通过接受一个可迭代对象来生成这个类的一个实例，它的作用跟 City(*delhi_data)是一样的
delhi = City._make(delhi_data)
print('1')
# _asdict()把具名元组以collection.OrderedDict的形式返回
delhi._asdict()
print('2')
for key, value in delhi._asdict().items():
    print(key + ':', value)

1

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

2
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

#### 注意浅复制
`copy` 和切片都是**浅复制**

In [13]:
l = [1, 2, 3, [4, 5]]
ll = l.copy()
lll = l
l[0] = 11
l[3][1] = 55
ll
lll

[1, 2, 3, [4, 55]]

[11, 2, 3, [4, 55]]

In [14]:
l = [1,2, [3,4]]
ll = l[1:]
l[1] = 22
l[2][0] = 33
l
ll

[1, 22, [33, 4]]

[2, [33, 4]]